<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/register" method="post">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name">
        <label for="app">Apellido Paterno</label>
        <input type="text" name="app" id="app">
        <label for="apm">Apellido Materno</label>
        <input type="text" name="apm" id="apm">
        <label for="username">Username</label>
        <input type="text" name="username" id="username">
        <label for="email">Email</label>
        <input type="email" name="email" id="email">
        <label for="password">Pasword</label>
        <input type="password" name="password" id="password">
        <input type="submit" value="Register">
    </form>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <% if(typeof alert != "undefined") { %>
        <script>
            Swal.fire({
                title: '<%= alertTitle %>',
                text: '<%= alertMenssage %>',
                icon: '<%= alertIcon %>',
                showConfirmeButton: <%= showConfirmButton %>,
                timer: <%= timer %>
            }).then(() => {
                window.location = '/<%= ruta %>'
            })
        </script>
    <% } %>
</body>
</html>