<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="resources/css/styleForm.css">
</head>
<body>
    <header>
        <div class="conten">
            <form action="/register" method="post">
                <div class="campu">
                    <input type="text" name="name" id="name" placeholder="Nombre" required>
                </div>
                <div class="campu">
                    <input type="text" name="app" id="app" placeholder="Apellido Paterno" required>
                </div>
                <div class="campu">
                    <input type="text" name="apm" id="apm" placeholder="Apellido Materno" required>
                </div>
                <div class="campu">
                    <input type="text" name="username" id="username" placeholder="Nombre de Usuario" required>
                </div>
                <div class="campu">
                    <input type="email" name="email" id="email" placeholder="Email" required>
                </div>
                <div class="campu">
                    <input type="password" name="password" id="password" placeholder="Contraseña" required>
                </div>
                <div>
                    <input type="submit" value="Register" class="button">
                </div>
            </form>
            <div class="center">
                <a href="login" class="button-register">
                    <button class="button">Inicio Sesión</button>
                </a>
            </div>
        </div>
    </header>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <% if(typeof alert != "undefined") { %>
        <script>
            Swal.fire({
                title: '<%= alertTitle %>',
                text: '<%= alertMenssage %>',
                icon: '<%= alertIcon %>',
                showConfirmeButton: <%= showConfirmButton %>,
                timer: <%= timer %>
            }).then(() => {
                window.location = '/<%= ruta %>'
            })
        </script>
    <% } %>
</body>
</html>